*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $fontFamily;
}


.container{
    width: 1400px;
    margin: auto;
}

.d-flex{
    display: flex;
    
}

.row{
    padding: $spacing 0;
}
